body{
    background-color:black;
    color:#ffff;
    font-family:'Courier New', Courier, monospace;
    
}

.profile{
    width:900px;
    margin:50px auto;
    background-color:#1a1a1a;
    border:2px solid hotpink;
    padding: 20px;
}

header{
    text-align:center;
    border-bottom:1px solid gray;
}

header h1{
    color:hotpink;
    font-size:40px;
}

main{
    display:flex;
    gap:20px;
    margin-top:20px;
   
}

.left-column{
    width:30%;
    border:1px solid gray;
    padding:15px;
}

img{
    width:150px;
    border-radius:5px;
}

.sidebar{
    width:30%;
    background-color:#1a1a1a;
    border:1px solid gray;
    padding:15px;
}

.sidebar img{
    width:200px;
    height:200px;
    object-fit:cover;
    border:2px solid hotpink
}

.content{
    width:70%;
}

.box{
    background-color:#1a1a1a;
    border:1px solid gray;
    padding:15px;
    margin-bottom:20px;
}

.box h2{
    color:#ff249d;
}

a{
    color:cyan;
    text-decoration:none;
}

a:hover{
    color:#bb096b
}

.trash{
    width:350px;
    height:auto;
}
.birthday-intro{
    display:flex;
    justify-content:space-between;
    align-items: center;
    padding: 30px;
}

.intro-text{
    width:50%;
    height:auto;
}

.memories{
    padding:40px;
    text-align: left;
}

.memory-card{
    background: rgba(255,255,255,0.1);
    border: 3px dashed hotpink;
    border-radius: 20px;
    padding: 25px;
    margin:30px auto;
    width: 100%;
}

.memory-card img{
    width:300px;
    border-radius: 15px;
    margin: 20px;
}

.memory-card p{
    text-align:center;
}
p{
    margin:auto;
    font-size:18px;
    color:white;

}

.image-row{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.Glitter{
    width: 100px;
    height:auto;
}


.first-day{
    width:300px;
    height:auto;
}
.stories-page {
    width: 900px;
    margin: 50px auto;
    background-color: #1a1a1a !important;
    border: 3px solid hotpink;
    border-radius: 20px;
    padding: 40px;
    box-shadow: 0 0 25px hotpink;
}

.stories-header {
    text-align: center;
    border-bottom: 2px dashed hotpink;
    padding-bottom: 30px;
    margin-bottom: 40px;
}

.stories-header h1 {
    color: hotpink;
    font-size: 50px;
    text-shadow: 2px 2px black;
}

.subtitle {
    color: cyan;
    font-size: 18px;
    font-style: italic;
}


.story-intro {
    width: 70%;
    margin: 40px auto;
    text-align: center;
    line-height: 1.8;
}


.sparkles {
    color: hotpink;
    font-size: 30px;
    text-align: center;
}

.divider {
    text-align: center;
    color: hotpink;
    font-size: 24px;
    margin: 40px 0;
}

.story-entry {
    width: 80%;
    margin: 40px auto;
    background-color: #222;
    border: 2px dashed hotpink;
    border-radius: 20px;
    padding: 30px;
    transition: 0.3s;
}


.story-entry:hover {
    transform: scale(1.02);
    box-shadow: 0 0 20px hotpink;
}

.entry-header {
    background-color: hotpink;
    color: black;
    padding: 20px;
    border-radius: 15px;
}


.entry-header h2 {
    margin-top: 0;
    color: black;
}


.entry-header p {
    color: black;
    text-align: left;
    margin: 5px 0;
}


.story-body {
    padding: 25px;
    line-height: 1.8;
}


.story-body p {
    text-align: left;
}

.story-ending {
    text-align: center !important;
    color: hotpink !important;
    font-style: italic;
    margin-top: 30px;
}

/* ==========================
   LETTER ENVELOPE
========================== */

.letter-container{
    text-align:center;
    margin:80px auto 50px;
}


/* Envelope body */

.envelope{
    position:relative;
    width:420px;
    height:300px;
    margin:auto;
    background:#ff69b4;
    border-radius:15px;
    cursor:pointer;
    overflow:visible;
    box-shadow:0 0 20px hotpink;
}


/* Letter inside */

.letter{
    position:absolute;

    width:320px;
    height:210px;

    left:50%;
    top:45px;

    transform:translateX(-50%);
    transition:.7s;

    background:#fff8fc;
    padding:20px;
    border-radius:12px;
    z-index:2;

    overflow-y:auto;
}


/* Envelope flap */

.flap{
    position:absolute;
    width:0;
    height:0;

    border-left:210px solid transparent;
    border-right:210px solid transparent;
    border-top:150px solid #ff1493;

    top:0;
    left:0;

    transform-origin:top center;
    transition:.7s;
    z-index:3;
}


/* Letter text */

.letter h2{
    color:#ff1493;
    font-family:'Courier New', Courier, monospace;
}


.letter p{
    color:black;
    font-size:13px;
    line-height:1.5;
}


/* Opening animation */

.envelope:hover .flap{
    transform:rotateX(180deg);
    z-index:1;
}


.envelope:hover .letter{
    transform:translateY(-230px);
    z-index:4;
}


/* Click message */

.click-text{
    color:cyan;
    margin-top:50px;
    font-style:italic;
}

.front{
    position:absolute;
    bottom:0;
    left:0;

    width:100%;
    height:170px;

    background:#ff69b4;

    border-radius:0 0 15px 15px;

    z-index:3;
}

/* ==========================
   GALLERY PAGE
========================== */

.gallery-page{
    width:1000px;
    margin:50px auto;
    text-align:center;
}

.gallery-header h1{
    color:hotpink;
    font-size:50px;
}

.gallery-header p{
    color:cyan;
    margin-bottom:40px;
}

.photo-line{
    width:100%;
    height:4px;
    background:#d8c3a5;
    margin:40px auto;
}

.photo-gallery{
    display:flex;
    justify-content:space-evenly;
    align-items:flex-start;
    flex-wrap:wrap;
    gap:40px;
}

.polaroid{
    width:220px;
    background:white;
    padding:15px 15px 40px;
    border-radius:5px;
    box-shadow:0 10px 25px rgba(0,0,0,.5);
    transition:.4s;
    position:relative;
}

.polaroid img{
    width:100%;
    height:250px;
    object-fit:cover;
}

.polaroid p{
    color:black;
    margin-top:15px;
    font-family:'Courier New', Courier, monospace;
}

.rotate-1{
    transform:rotate(-8deg);
    margin-top:30px;
}

.rotate-2{
    transform:rotate(5deg);
    margin-top:0px;
}

.rotate-3{
    transform:rotate(-3deg);
    margin-top:10px;
}

.polaroid:hover{
    transform:rotate(0deg) scale(1.08);
    box-shadow:0 0 30px hotpink;
}

.clip{
    width:22px;
    height:40px;
    background:#c49a6c;
    border-radius:4px;
    position:absolute;
    top:-20px;
    left:50%;
    transform:translateX(-50%);
}
/* =====================
   MIXTAPE CASE
===================== */

.mixtape-case{

    width:800px;
    margin:50px auto;

    background:#111;

    border:4px solid hotpink;
    border-radius:20px;

    padding:40px;

    box-shadow:0 0 30px hotpink;

}



.album-cover{

    text-align:center;

    background:#ff69b4;

    padding:40px;

    border-radius:15px;

    color:black;

}



.album-cover h1{

    font-size:40px;

}



.cassette-label{

    background:white;

    width:200px;

    margin:30px auto 0;

    padding:15px;

    border-radius:10px;

    color:#ff1493;

    font-weight:bold;

}



.playlist-section{

    margin-top:50px;

}



.playlist-section h2{

    color:cyan;

    text-align:center;

}



.song-card{

    background:#222;

    border:2px dashed hotpink;

    border-radius:15px;

    padding:20px;

    margin:20px;

}

.song-card{

    background:#222;

    border:2px dashed hotpink;

    border-radius:15px;

    padding:20px;

    margin:30px auto;

    width:80%;

    cursor:pointer;

    transition:
        transform 0.4s ease,
        box-shadow 0.4s ease,
        border-color 0.4s ease;

}



.song-card:hover{

    transform:translateY(-8px) scale(1.03) rotate(-1deg);

    box-shadow:
        0 0 15px hotpink,
        0 0 30px rgba(255,20,147,0.5);

    border-color:#ff69b4;

}


.song h3{

    color:hotpink;

}



.song p{

    color:white;

}



.song span{

    color:#ddd;

    font-style:italic;

}
/* =====================
   NAVIGATION BAR
===================== */


.navbar{

    width:90%;

    margin:30px auto;

    display:flex;

    justify-content:center;

    align-items:center;

    gap:20px;

    padding:15px;

    background:#1a1a1a;

    border:2px solid hotpink;

    border-radius:20px;

    box-shadow:
    0 0 15px hotpink;

}



.navbar a{

    color:white;

    text-decoration:none;

    font-size:18px;

    font-family:'Courier New', Courier, monospace;

    padding:10px 15px;

    border-radius:10px;

    transition:0.3s;

}

.navbar a:hover{

    color:black;

    background:hotpink;

    transform:translateY(-5px);

    box-shadow:0 0 15px hotpink;

}





/* =========================
   PUNK BIRTHDAY LOGIN PAGE
========================= */


/* Background */

body{

    background-color:#1a1a1a;

    background-size:cover;

    background-position:center;

    background-attachment:fixed;

}



/* Birthday banner */

.birthday-banner{

    text-align:center;

    margin-top:50px;

    color:hotpink;

    font-size:40px;

    font-weight:bold;

    letter-spacing:6px;

    font-family:'Courier New', Courier, monospace;

    text-shadow:
        3px 3px black,
        0 0 15px hotpink;

    transform:rotate(-2deg);

}



/* Main secret case */

.lock-case{

    width:600px;

    margin:70px auto;

    background:#1a1a1a;

    border:3px dashed hotpink;

    border-radius:25px;

    padding:40px;

    text-align:center;

    box-shadow:
        0 0 30px hotpink;

}



/* Top label */

.lock-header{

    color:cyan;

    font-size:20px;

    letter-spacing:4px;

    margin-bottom:30px;

    text-shadow:
        2px 2px black;

}



/* Login section */

.lock-screen{

    text-align:center;

}



.lock-screen h1{

    color:hotpink;

    font-size:45px;

    text-shadow:
        3px 3px black,
        0 0 15px hotpink;

}



.lock-screen p{

    color:white;

    text-align:center;

    font-size:18px;

}



.hint{

    color:cyan !important;

    font-style:italic;

}



/* Password box */

.lock-screen input{

    display:block;

    margin:30px auto;

    width:350px;

    height:55px;

    background:#111;

    color:white;

    border:3px solid hotpink;

    border-radius:15px;

    font-size:20px;

    text-align:center;

    font-family:'Courier New', Courier, monospace;

    transition:0.3s;

}



.lock-screen input::placeholder{

    color:#ff69b4;

}



.lock-screen input:focus{

    outline:none;

    box-shadow:
        0 0 15px hotpink,
        0 0 30px hotpink;

}



/* Enter button */

.lock-screen button{

    padding:15px 45px;

    background:hotpink;

    color:black;

    border:none;

    border-radius:15px;

    font-size:18px;

    font-family:'Courier New', Courier, monospace;

    font-weight:bold;

    cursor:pointer;

    transition:0.3s ease;

}



.lock-screen button:hover{

    transform:
        scale(1.1)
        rotate(-3deg);

    box-shadow:
        0 0 15px hotpink,
        0 0 30px hotpink;

}



.lock-screen button:active{

    transform:scale(0.9);

}



/* Dark overlay for background */

body::before{

    content:"";

    position:fixed;

    inset:0;

    background:rgba(0,0,0,0.6);

    z-index:-1;

}
.countdown-box{

    width:500px;

    margin:50px auto;

    background:#111;

    border:3px solid hotpink;

    border-radius:25px;

    padding:30px;

    text-align:center;

    box-shadow:
    0 0 25px hotpink;

}



.countdown-box h2{

    color:hotpink;

    font-size:35px;

}



.countdown-box p{

    color:white;

}



.countdown{

    display:flex;

    justify-content:center;

    gap:20px;

    margin-top:30px;

}



.countdown span{

    background:#222;

    color:white;

    padding:15px;

    border-radius:15px;

    border:2px dashed cyan;

}



.countdown b{

    display:block;

    color:hotpink;

    font-size:30px;

}